@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.pricing-container {
    width: 80%;
    max-width: 1000px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    transition: 0.3s;
}

.card.highlighted {
    border: 2px solid #149ddd;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.price {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.price span {
    font-size: 1rem;
    color: gray;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin: 15px 0;
    border-radius: 5px;
    background-color: #149ddd;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin-top: 40px;
}

ul li {
    margin: 10px 0;
    font-size: 0.8rem;
}

/* Responsive */
@media (max-width: 900px) {
    .pricing-cards {
        flex-direction: column;
        align-items: center;
    }
}
